Node-Red/ExampleFlows.json
[{"id":"e23a523c3b374d77","type":"comment","z":"08035fcf5428650d","name":"Set Batterie","info":"``","x":1530,"y":1980,"wires":[]},{"id":"698fdb8217cec3bb","type":"ui_text_input","z":"08035fcf5428650d","name":"","label":"BLE SHUNT CAP in AH","tooltip":"type your capacity in Amphours","group":"00c90244e8033802","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":"1000","topic":"topic","sendOnBlur":true,"topicType":"msg","x":1610,"y":2040,"wires":[["5a3c3d43d9f1bb46"]]},{"id":"5a3c3d43d9f1bb46","type":"function","z":"08035fcf5428650d","name":"","func":"msg.payload = Math.round(msg.payload);\nflow.set(\"amphours\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1840,"y":2040,"wires":[["1eaad2c2252bf87a"]]},{"id":"e8023bf249c34480","type":"function","z":"08035fcf5428650d","name":"toString()","func":"let str\nif (typeof msg.payload != 'string')\n{ \n    str = msg.payload.toString()\n    msg.payload = str\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1780,"wires":[["c4a81852184240db"]]},{"id":"511e657bdeb8e6e8","type":"exec","z":"08035fcf5428650d","command":"sudo timeout -s SIGINT 5s hcitool -i hci0 lescan","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":660,"y":1800,"wires":[["e8023bf249c34480"],[],[]]},{"id":"d4064d1d04f65ac4","type":"inject","z":"08035fcf5428650d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":1800,"wires":[["511e657bdeb8e6e8"]]},{"id":"08d9d628b126b0e0","type":"ui_button","z":"08035fcf5428650d","name":"","group":"00c90244e8033802","order":10,"width":0,"height":0,"passthru":false,"label":"Search Shunt","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":1720,"wires":[["511e657bdeb8e6e8","c47d1b17d6864a61"]]},{"id":"c7f4fe6faee9a6e6","type":"ui_toast","z":"08035fcf5428650d","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":730,"y":1720,"wires":[]},{"id":"c47d1b17d6864a61","type":"function","z":"08035fcf5428650d","name":"","func":"msg.payload=\"searching....\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1720,"wires":[["c7f4fe6faee9a6e6"]]},{"id":"9e6ebd1613d38c5c","type":"debug","z":"08035fcf5428650d","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1880,"y":1780,"wires":[]},{"id":"c4a81852184240db","type":"split","z":"08035fcf5428650d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1150,"y":1780,"wires":[["fb853f152ae3ed6e"]]},{"id":"fb853f152ae3ed6e","type":"switch","z":"08035fcf5428650d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Pekaway Shunt","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":1780,"wires":[["43d88a5e2c14ba26","fff87453591465a3"]]},{"id":"1d2701215f1ec67c","type":"ui_toast","z":"08035fcf5428650d","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1890,"y":1680,"wires":[]},{"id":"43d88a5e2c14ba26","type":"function","z":"08035fcf5428650d","name":"found noti","func":"msg.payload=\"found device\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1680,"wires":[["1d2701215f1ec67c"]]},{"id":"fff87453591465a3","type":"function","z":"08035fcf5428650d","name":"filter MAC and store global","func":"msg.payload = msg.payload.substring(0,17);\nglobal.set(\"ESPShuntMac\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1780,"wires":[["9e6ebd1613d38c5c","e2b842253a7602fb"]]},{"id":"e2b842253a7602fb","type":"file","z":"08035fcf5428650d","name":"","filename":"pekaway/espshuntmac","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1920,"y":1840,"wires":[[]]},{"id":"390cce4a5e7f0193","type":"file in","z":"08035fcf5428650d","name":"","filename":"pekaway/espshuntmac","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":560,"y":2200,"wires":[["12dfd9c76c3cbb9c"]]},{"id":"df22272708665f98","type":"inject","z":"08035fcf5428650d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":2200,"wires":[["390cce4a5e7f0193"]]},{"id":"12dfd9c76c3cbb9c","type":"function","z":"08035fcf5428650d","name":"filter MAC and store global","func":"global.set(\"ESPShuntMac\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":2200,"wires":[[]]},{"id":"55cfc8cd91655373","type":"exec","z":"08035fcf5428650d","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":730,"y":2000,"wires":[["399a144a49124757"],[],[]]},{"id":"11deb4e1341e03e8","type":"function","z":"08035fcf5428650d","name":"build string command","func":"var command = \"python3 pekaway/ble_py/READesp32shunt.py\";\nvar mac = global.get(\"ESPShuntMac\");\n\nmsg.payload = command +\" \"+ mac; \n\nif(mac !=null || undefined)\n{\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":2000,"wires":[["55cfc8cd91655373"]]},{"id":"dee7956c932ba214","type":"inject","z":"08035fcf5428650d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":2000,"wires":[["11deb4e1341e03e8"]]},{"id":"3cb9605ebf847604","type":"comment","z":"08035fcf5428650d","name":"Check Shunt","info":"``","x":310,"y":1920,"wires":[]},{"id":"8092a5a976df2263","type":"ui_text_input","z":"08035fcf5428650d","name":"","label":"BLE SHUNT SOC in %","tooltip":"type your capacity in Amphours","group":"00c90244e8033802","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":"1000","topic":"topic","sendOnBlur":true,"topicType":"msg","x":1610,"y":2080,"wires":[["fa4ffdad67f6f34f"]]},{"id":"fa4ffdad67f6f34f","type":"function","z":"08035fcf5428650d","name":"","func":"\nmsg.payload = Math.round(msg.payload);\n\nflow.set(\"shuntSOC\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1840,"y":2080,"wires":[["1eaad2c2252bf87a"]]},{"id":"fe9a67323981a74c","type":"ui_button","z":"08035fcf5428650d","name":"","group":"00c90244e8033802","order":10,"width":0,"height":0,"passthru":false,"label":"Set Shunt","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":2140,"wires":[["94588b7a4e86f9a1"]]},{"id":"94588b7a4e86f9a1","type":"function","z":"08035fcf5428650d","name":"","func":"var soc = flow.get(\"shuntSOC\");\nvar cap = flow.get(\"amphours\"); \n\n\nmsg.payload = \"Set Battery to \" + cap + \"AH + and \" + soc +\"%  ok?\"\nmsg.cap=cap;\nmsg.soc=soc;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":2140,"wires":[["64a3af764978a3bf"]]},{"id":"64a3af764978a3bf","type":"ui_toast","z":"08035fcf5428650d","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":690,"y":2140,"wires":[["f1911ea17955be56"]]},{"id":"dfe7adeb2308a60a","type":"exec","z":"08035fcf5428650d","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1130,"y":2140,"wires":[["75a9f4a901d9e1b0"],[],[]]},{"id":"f1911ea17955be56","type":"function","z":"08035fcf5428650d","name":"build string command","func":"var command = \"python3 pekaway/ble_py/SETesp32shunt.py\";\nvar mac = global.get(\"ESPShuntMac\");\n\nmsg.payload = command + \" \" + mac + \" \" + msg.cap + \" \" + msg.soc;\n\nif(mac !=null || undefined)\n{\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":2140,"wires":[["dfe7adeb2308a60a"]]},{"id":"1eaad2c2252bf87a","type":"debug","z":"08035fcf5428650d","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2020,"y":2000,"wires":[]},{"id":"2eea5c1405da4c92","type":"comment","z":"08035fcf5428650d","name":"Search Shunt","info":"``","x":310,"y":1660,"wires":[]},{"id":"75a9f4a901d9e1b0","type":"ui_toast","z":"08035fcf5428650d","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1310,"y":2120,"wires":[]},{"id":"399a144a49124757","type":"json","z":"08035fcf5428650d","name":"","property":"payload","action":"","pretty":false,"x":870,"y":1940,"wires":[["ff745f4b4d8922e4"]]},{"id":"ff745f4b4d8922e4","type":"function","z":"08035fcf5428650d","name":"write global","func":"\nglobal.set(\"pkwshuntvolt\", msg.payload.volts);\nglobal.set(\"pkwshuntSOC\", msg.payload.soc);\nglobal.set(\"pkwshuntamps\", msg.payload.amps);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":1940,"wires":[[]]},{"id":"00c90244e8033802","type":"ui_group","name":"VANPI Shunt","tab":"1b7846a35b09245e","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"1b7846a35b09245e","type":"ui_tab","name":"Shunt","icon":"dashboard","order":14,"disabled":false,"hidden":true}]